<div id="container">
	<div id="buildArea">
		<div class="buildAreaContainer">
			<div class="flexContainer">
				<div class="flex-one">
					<div class="flexContainer" id="factionArmy">
					</div>
				</div>
				<div class="flex-two">
					<div id="buildTitle" class="sectionHeader"><b>Built Fireteam</b></div>
				</div>
				<div class="flex-one">
					<div id="backButton" class="button pull-right" onclick="startOver();" title="Back">
						<div class="img small" style="background-image: url(data/img/back.png);"></div>
						<div class="label visible--ml">Back</div>
					</div>
				</div>
			</div>
			<div id="fireteamContainer" data-build="false">
			</div>
			<div class="flexContainer">
				<div class="builderContainer" id="member1Container" style="display:none; border-left: 1px solid;" data-attr-memberNum="1">
				</div>
				<div class="builderContainer" id="member2Container" style="display:none; border-left: 1px solid;" data-attr-memberNum="2">
				</div>
				<div class="builderContainer" id="member3Container" style="display:none; border-left: 1px solid;" data-attr-memberNum="3">
				</div>
				<div class="builderContainer" id="member4Container" style="display:none; border-left: 1px solid;" data-attr-memberNum="4">
				</div>
				<div class="builderContainer" id="member5Container" style="display:none; border-left: 1px solid;" data-attr-memberNum="5">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6" id="noteBox">
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$(document).on('click', 'input[type="checkbox"][data-run]', function() {
				eval($(this).attr('data-run'));
			});
			var newTitle = "FIRETEAM CORE";
			var armyJSON = $("#contents")[0].armyJSON;
			if(armyJSON) {
				var selectedFactionLabel = armyJSON.factionName;
				if(selectedFactionLabel) {
					newTitle += ": " + selectedFactionLabel;
				}
				changeTitle(newTitle);
			
				var factionListFile = "data/factions.json";
				$.getJSON(factionListFile, function(data) {
					$.each(data.factions, function(i1, faction) {
						if(faction.name === $('#contents')[0].faction) {
							var elems = "";
							var factionImg = "<div class=\"factionImg img small\" style=\"background-image: url(" + faction.imgSrc + ");\"></div>";
							var factionLabel = "<div class=\"factionLabel label\"><b>" + faction.name + "</b></div>";
							var factionButton = "<div class=\"factionButton button\">";
							factionButton += factionImg;
							factionButton += factionLabel;
							factionButton += "</div>";
							elems += factionButton;
							$.each(faction.armies, function(i2, army) {
								if(army.name === $("#contents")[0].army) {
									if(!army.vanilla) {
										var armyImg = "<div class=\"armyImg img small\" style=\"background-image: url(" + army.imgSrc + ");\"></div>";
										var armyLabel = "<div class=\"armyLabel label\"><b>" + army.label + "</b></div>";
										var armyButton = "<div class=\"armyButton button\">";
										armyButton += armyImg;
										armyButton += armyLabel;
										armyButton += "</div>";
								
										elems += armyButton;
									}
									return false;
								}
							});
							$('#factionArmy').html(elems);
							return false;
						}
					});
				});
			
				var army = $("#contents")[0].army;
				$('#fireteamContainer').html('');
				if(army) {
					var factionListFile = "data/fireteams.json";
					$.getJSON(factionListFile, function(data) {
						var optionList = "<div class=\"sectionHeader\"><b><span class=\"hidden--xs\">Fireteam</span> Type</b></div>";
						$.each(armyJSON.fireteams, function(i1, fireteam) {
							var fireTeamSection = "<div class=\"fireteamSection\">";
							fireTeamSection += "<div class=\"fireteamLabel label\">" + fireteam.name;
							if(fireteam.note) {
								fireTeamSection += "<span class=\"ftTooltip\" data-text=\"" + fireteam.note + "\">i</span>";
							}
							fireTeamSection += "</div>";
							
							var fullFtData = [];
							$.each(fireteam.types, function(i2, ft) {
								$.each(data.fireteams, function(i1, ftData) {
									if(ftData.name == ft) {
										fullFtData.push(ftData);
									}
								});
							});
							$.each(fullFtData, function(i2, ft) {
								var fireteamImg = "<div class=\"fireteamImg img\" style=\"background-image: url(data/img/" + ft.imgSrc + ");\"></div>";
								var fireteamLabel = "<div class=\"fireteamLabel label\">" + ft.name + "</div>";
								var fireteamButton = "<div class=\"fireteamButton button\" onclick=\"changeFireteam('" + fireteam.name + "', '" + ft.name + "', this);\">";
								fireteamButton += fireteamImg;
								fireteamButton += fireteamLabel;
								fireteamButton += "</div>";
								fireTeamSection += fireteamButton;
							});

							fireTeamSection += "</div>";
							optionList += fireTeamSection;
						});

						$("#fireteamContainer").html(optionList);
					}).fail(function(){
						alert("An error has occurred reading fireteam data.");
					});
				} else {
					$('#buildArea').html('');
					$('#buildArea').addClass('empty');
				}
			 } else {
				alert("An error has occurred reading faction data.");
			 }	
		});
	</script>
</div>